@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Inconsolata:wght@300&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Manrope:wght@200;300;400;500;700;800&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@400;700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700&family=Raleway:wght@200;300;700&family=Roboto:wght@400;500&display=swap');
*{
   box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-family: 'Raleway', sans-serif;
}

a{
   text-decoration: none;
   color: rgb(5, 5, 5);
   font-weight: normal;
}
.wrapper {
   max-width: 1400px;
   margin: 0 auto;
   .background{
      background: #3a6186;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 105vh;
      .header {
         position: relative;
         z-index: 5;
         &__navbar {
            margin: -10px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
         }
         &__item {
            width: 450px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -100px 0 250px;
            position: relative;
         }
         @media screen and (max-width: 375px){
            &__item{
               margin: -130px 186px 0 359px;
            }
            .background{
               height: 130vh;
            }
         }
         &__modal__container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.7);
            font-family: 'Comfortaa', cursive;
            position: fixed;
            left: 0;
            right: 0;
            height: 174vh;
            width: 100%;
            visibility: visible;
            
         }
         .show-modal{
            pointer-events: auto;
            opacity: 1;
            visibility: hidden;
            transition: opacity 1s ease;
         }
         &__modal{
            margin: 42% 0 0 55%;
            text-align: center;
            background: #FDFC47;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            padding: 30px 50px;
            width: 333px;
            height:490px;
            max-width: 100%;
            border-radius: 10px;
         }
         &__arrow-click{
            margin: -20px 0 0 230px;
            cursor: pointer;
         }
         &__items {
            list-style-type: none;
            font-size: 1.3rem;
         }
         &__items a:hover {
            color: #fff;
            transition: .8s ease-in-out;
         }
         #openModal{
            margin: 0 0 0 -40px;
            cursor: pointer;
         }
      }
      .main {
   
         &__content {
            position: relative;
            display: flex;
            // height: 80vh;
         }
         &__image {
            margin: 0 17% 0 13%;
            transform: rotate(18deg);
         }
         @media screen and (max-width: 375px) {
            .main__image{
               width: 250px;
               transform: rotate(0);
            }
            .main__content{
               flex-direction: column-reverse;
            }
            .main__title{
               font-size: 3rem;
               margin: 50px 0 0 30%;
            }
         }
         &__title {
            font-size: 5rem;
            font-family: 'Comfortaa', cursive;
            letter-spacing: 5px;
            font-weight: normal;
         }
         &__prise {
            visibility: visible;
            margin: 50px 70px 50px 0 ;
            font-size: 1.6rem;
            font-weight: 600;
            border: 1px solid;
            border-radius: 10px;
            padding: 10px 10px;
            color: white;
            margin-right: 49px;
         }
         .show-price{
            visibility: hidden;
         }
         &__display{
            width: 550px;
            display: flex;
            align-items: center;
         }
         &__content__text{
            visibility: visible;
            width: 350px;
            font-size: 1rem;
            margin-left: 50px;
            border: 1px solid;
            border-radius: 10px;
            padding: 10px 10px;
            color: white;
         }
         .show-descreption{
            visibility: hidden;
         }
         &__flex {
            display: flex;
         }
         &__flex li {
            font-size: 1.2rem;
            list-style-type: none;
            margin-right: 100px;
            font-family: 'Comfortaa', cursive;
            font-weight: normal;
         }
         &__button {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-weight: normal;
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            letter-spacing: 4px;
            padding: 0 35px 0 2-px;
            background-color: #004E92;
            cursor: pointer;
         }
         &__button:hover{
            background-color: #6190E8;
            transition: 3s ease-in;
         }
      }
      &__container {
         position: relative;
      }  
      .chevron{
         position: absolute;
         width: 28px;
         height: 4px;
         opacity: 0;
         left: 50%;
         transform: scale3d(0.5, 0.5, 0.5);
         animation: move 3s ease-out infinite;
      }
      .chevron:first-child {
         animation: move 3s ease-out 1s infinite;
       }
       
       .chevron:nth-child(2) {
         animation: move 3s ease-out 2s infinite;
       }
       .chevron:before,
       .chevron:after {
         content: ' ';
         position: absolute;
         top: 0;
         height: 100%;
         width: 51%;
         background: #fff;
       }
       @media screen and (max-width: 375px){
         .chevron:before,
         .chevron:after{
            top: -25px;
         }
      }
       .chevron:before {
         left: 0;
         transform: skew(0deg, 30deg);
       }
       .chevron:after {
         right: 0;
         width: 50%;
         transform: skew(0deg, -30deg);
       }
       @keyframes move {
         25% {
           opacity: 1;
         }
         33% {
           opacity: 1;
           transform: translateY(30px);
         }
         67% {
           opacity: 1;
           transform: translateY(40px);
         }
         100% {
           opacity: 0;
           transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
         }
       }
       @keyframes pulse {
         to {
           opacity: 1;
         }
       }
   }
    .card {
		&__image {
         // margin: 60px 0 0 0;
         background: #D38312;  /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         opacity: 1;         
         width: 100%;
         height: 130vh;
		}
      @media screen and (max-width: 375px) {
         &__image{
            height: 287vh;
         }
      }
		&__container {
         width: 100%;
		}
      &__text-title{
         font-size: 9rem;
         font-family: 'Comfortaa', cursive;
         font-weight: normal;
         letter-spacing: 20px;
         margin: 0 0 0 32%;
         padding-top: 100px;
         color: rgb(17, 218, 101);
      }
      @media screen and (max-width: 375px) {
         &__text-title{
            font-size: 3rem;
            margin: 0 0 0 15%;
         }
      }
		&__cards {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         justify-content: space-around;
         align-items: center;
         padding: 100px 0 0 0;
		}
      &__cards img{
         margin: -65% 10px 0 0;
      }
      &__images{
         width: 280px;
         height: 400px;
         background: #ff7e5f;  /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         border: 1px solid;
         border: none;
         border-radius: 10px;
         position: relative;
         z-index: 1;
         transition: .5s ease;

         .icon-heart{
            position: absolute;
            left: 77%;
            top: 5%;
            cursor: pointer;
            font-size: 40px;
         }
         #add-card{
            position: absolute;
            width: 80px;
            height: 40px;
            cursor: pointer;
            background: #FDC830;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #F37335, #FDC830);
            border: none;
            color: #ffff;
            font-size: 18px;
            margin: 120px 20px 20px 60%;
            padding: 9px 20px;
            border-radius: 10px;
         }
      }
      @media screen and (max-width: 375px) {
         &__images{
            margin-bottom: 41px;
         }
      }
      &__images:before{
         content: " ";
         position: absolute;
         z-index: -1;
         left: 10px;
         right: 0;
         top: 10px;
         width: 260px;
         height: 210px;
         background: #FDC830;  /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         border: none;
         border-radius: 10px;
      }
      &__images:hover{
         transform: scale(1.1);
      }
   }
   #map{
      height: 100vh;
   }
}//wrapper


