@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Inconsolata:wght@300&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Manrope:wght@200;300;400;500;700;800&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@400;700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700&family=Raleway:wght@200;300;700&family=Roboto:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #050505;
  font-weight: normal;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper .background {
  background: #3a6186;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#89253e), to(#3a6186));
  background: linear-gradient(to right, #89253e, #3a6186);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 105vh;
}

.wrapper .background .header {
  position: relative;
  z-index: 5;
}

.wrapper .background .header__navbar {
  margin: -10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .background .header__item {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -100px 0 250px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .wrapper .background .header__item {
    margin: -130px 186px 0 359px;
  }
  .wrapper .background .header .background {
    height: 130vh;
  }
}

.wrapper .background .header__modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Comfortaa', cursive;
  position: fixed;
  left: 0;
  right: 0;
  height: 174vh;
  width: 100%;
  visibility: visible;
}

.wrapper .background .header .show-modal {
  pointer-events: auto;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.wrapper .background .header__modal {
  margin: 42% 0 0 55%;
  text-align: center;
  background: #FDFC47;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#24FE41), to(#FDFC47));
  background: linear-gradient(to right, #24FE41, #FDFC47);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px 50px;
  width: 333px;
  height: 490px;
  max-width: 100%;
  border-radius: 10px;
}

.wrapper .background .header__arrow-click {
  margin: -20px 0 0 230px;
  cursor: pointer;
}

.wrapper .background .header__items {
  list-style-type: none;
  font-size: 1.3rem;
}

.wrapper .background .header__items a:hover {
  color: #fff;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.wrapper .background .header #openModal {
  margin: 0 0 0 -40px;
  cursor: pointer;
}

.wrapper .background .main__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .background .main__image {
  margin: 0 17% 0 13%;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

@media screen and (max-width: 375px) {
  .wrapper .background .main .main__image {
    width: 250px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .wrapper .background .main .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrapper .background .main .main__title {
    font-size: 3rem;
    margin: 50px 0 0 30%;
  }
}

.wrapper .background .main__title {
  font-size: 5rem;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 5px;
  font-weight: normal;
}

.wrapper .background .main__prise {
  visibility: visible;
  margin: 50px 70px 50px 0;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  color: white;
  margin-right: 49px;
}

.wrapper .background .main .show-price {
  visibility: hidden;
}

.wrapper .background .main__display {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .background .main__content__text {
  visibility: visible;
  width: 350px;
  font-size: 1rem;
  margin-left: 50px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  color: white;
}

.wrapper .background .main .show-descreption {
  visibility: hidden;
}

.wrapper .background .main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .background .main__flex li {
  font-size: 1.2rem;
  list-style-type: none;
  margin-right: 100px;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
}

.wrapper .background .main__button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-weight: normal;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0 35px 0 2-px;
  background-color: #004E92;
  cursor: pointer;
}

.wrapper .background .main__button:hover {
  background-color: #6190E8;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
}

.wrapper .background__container {
  position: relative;
}

.wrapper .background .chevron {
  position: absolute;
  width: 28px;
  height: 4px;
  opacity: 0;
  left: 50%;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.wrapper .background .chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.wrapper .background .chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.wrapper .background .chevron:before,
.wrapper .background .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

@media screen and (max-width: 375px) {
  .wrapper .background .chevron:before,
  .wrapper .background .chevron:after {
    top: -25px;
  }
}

.wrapper .background .chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.wrapper .background .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.wrapper .card__image {
  background: #D38312;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#A83279), to(#D38312));
  background: linear-gradient(to right, #A83279, #D38312);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  width: 100%;
  height: 130vh;
}

@media screen and (max-width: 375px) {
  .wrapper .card__image {
    height: 287vh;
  }
}

.wrapper .card__container {
  width: 100%;
}

.wrapper .card__text-title {
  font-size: 9rem;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  letter-spacing: 20px;
  margin: 0 0 0 32%;
  padding-top: 100px;
  color: #11da65;
}

@media screen and (max-width: 375px) {
  .wrapper .card__text-title {
    font-size: 3rem;
    margin: 0 0 0 15%;
  }
}

.wrapper .card__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 0 0;
}

.wrapper .card__cards img {
  margin: -65% 10px 0 0;
}

.wrapper .card__images {
  width: 280px;
  height: 400px;
  background: #ff7e5f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#feb47b), to(#ff7e5f));
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.wrapper .card__images .icon-heart {
  position: absolute;
  left: 77%;
  top: 5%;
  cursor: pointer;
  font-size: 40px;
}

.wrapper .card__images #add-card {
  position: absolute;
  width: 80px;
  height: 40px;
  cursor: pointer;
  background: #FDC830;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F37335), to(#FDC830));
  background: linear-gradient(to right, #F37335, #FDC830);
  border: none;
  color: #ffff;
  font-size: 18px;
  margin: 120px 20px 20px 60%;
  padding: 9px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 375px) {
  .wrapper .card__images {
    margin-bottom: 41px;
  }
}

.wrapper .card__images:before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 10px;
  right: 0;
  top: 10px;
  width: 260px;
  height: 210px;
  background: #FDC830;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F37335), to(#FDC830));
  background: linear-gradient(to right, #F37335, #FDC830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 10px;
}

.wrapper .card__images:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper #map {
  height: 100vh;
}
/*# sourceMappingURL=index.css.map */